@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
  --text-color: black;
  --bottom-sheet-bg-color: white;
  --bottom-sheet-text-color: black;
}

.dark {
  --bg-color: black;
  --text-color: white;
  --bottom-sheet-bg-color: rgb(42, 42, 42);
  --bottom-sheet-text-color: white;
}

.modalMenuLinks {
  @apply w-full text-center hover:bg-gray-200 hover:shadow-md transition ease-in-out duration-300 dark:hover:bg-gray-800 py-3 border-b-2;
}

/* For WebKit-based browsers */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 transparent; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}
